<header>
    <h1>SHOPPING CART</h1>
</header>
<button id="add-button" (click)="showForm = true">Add New Item</button>
<table>
    <tr id="top-row">
        <th>ID</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let item of items">
        <td>
            <data value="{{ item.id }}">{{ item.id }}</data>
        </td>
        <td>
            <data *ngIf="!isItemEditable(item.id)">{{ item.product }}</data>
            <input *ngIf="isItemEditable(item.id)" [(ngModel)]="editedItem.product" type="text" id="product" name="product">
        </td>
        <td>
            <data *ngIf="!isItemEditable(item.id)">{{ item.price | currency }}</data>
            <input *ngIf="isItemEditable(item.id)" [(ngModel)]="editedItem.price" type="number" id="price" name="price">
        </td>
        <td>
            <data *ngIf="!isItemEditable(item.id)">{{ item.quantity }}</data>
            <input *ngIf="isItemEditable(item.id)" [(ngModel)]="editedItem.quantity" type="number" id="quantity" name="quantity">
        </td>
        <td>
            <mat-icon *ngIf="!isItemEditable(item.id)" (click)="editItemStart(item)">edit</mat-icon>
            <mat-icon *ngIf="isItemEditable(item.id)" (click)="editItemEnd()">close</mat-icon>
        </td>
        <td>
            <mat-icon (click)="deleteItem(item.id)">delete</mat-icon>
        </td>
    </tr>
</table>
<form #newItemForm="ngForm" *ngIf="showForm" (submit)="addItem(newItemForm.value)">
    <div id="form-div">
        <h2>Enter Item Details</h2>
        <mat-icon (click)="showForm = false">close</mat-icon>
    </div>
    <label for="product">Product</label>
    <input type="text" id="product" name="product" ngModel>
    <label for="price">Price</label>
    <input type="number" id="price" name="price" ngModel>
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" ngModel>
    <button>Submit</button>
</form>